.friendd {

  position: absolute; /* 버튼의 위치를 상대적으로 설정 */
  bottom: 100px;
}
.friend-list-container {
  padding: 20px;
  width: 250px; /* 클릭 전후에 동일한 너비 설정 */
  overflow-y: hidden; /* 클릭 전에는 목록이 숨겨지도록 설정 */
  transition: all 0.3s ease; /* 크기 변화 시 부드러운 전환 */
}

.friend-list-container.show {
  overflow-y: auto; /* 클릭 후에 스크롤 가능하게 변경 */
}

.button {
  padding: 10px 60px;
  background-color: #dca371;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #dd8b44;
}

.friend-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friend-list-item {
  display: flex;
  align-items: center;
}

.friend-button {
  margin-right: 10px;
  width: 120px;
  padding: 10px;
  font-size: 14px;
  background-color: white;
  border: 2px solid #e1b389;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.delete-button {
  color: red;
  border: 2px solid #e1b389;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  padding: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.friend-button:hover {
  background-color: #e1b389; /* 좋아하는 색상 */
  color: white;
  border-color: #e1b389;
}

.delete-button:hover {
  background-color: #f8d7da; /* 삭제 버튼 호버 시 색상 변경 */
  color: red;
}

.chat-room {
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f4d3a1; /* 더 부드러운 배경색 */
}

.chat-room h3 {
  color: black;
}

.chat-messages {
  width: 400px;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 50px;
  background-color: #efe9e3; /* 메시지 영역 배경 흰색 */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chat-message {
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  max-width: 70%; /* 메시지의 최대 너비를 제한 */
  word-wrap: break-word; /* 긴 단어를 자동으로 줄바꿈 */
  display: inline-block;
}

.chat-message.sent {
  background-color: #e1b389; /* 보낸 메시지 배경 */
  align-self: flex-end; /* 보낸 메시지를 오른쪽에 정렬 */
  text-align: right;
  color: white;
}

.chat-message.received {
  background-color: #f1f1f1; /* 받은 메시지 배경 */
  align-self: flex-start; /* 받은 메시지를 왼쪽에 정렬 */
  text-align: left;
}

.chat-message p {
  margin: 0;
  word-wrap: break-word; /* 긴 단어를 줄바꿈 처리 */
}

.chat-input {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
  width: 300px;
}

.input:focus {
  border-color: #007bff;
}

.send-button {
  padding: 10px 20px;
  background-color: #8B6B4F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #8c582b;
}
