.alien-shooter {
  background-color: black;
  text-align: center;
  margin-top: 20px;
}

.score {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.timer {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  z-index: 10;
}


.ammo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  z-index: 10;
  color:red;
}

.game-area {
  position: relative;
  width: 500px; /* More narrow */
  height: 700px; /* Adjusted height */
  background-color: #b0e0e6; /* Pale blue background color */
  background-image:url('/mg/sea.png');
  background-size: contain; /* Ensure the image fits within the element */
  background-repeat: no-repeat;
  margin: 0 auto;
}

.normal-alien, .strong-alien {
  position: absolute;
  transition: opacity 0.1s ease-in-out; /* Add transition for flash effect */
}

.normal-alien {
  width: 100px; /* Adjusted size */
  height: 100px; /* Adjusted size */
}

.strong-alien {
  width: 150px; /* Larger size */
  height: 150px; /* Larger size */
}

.bullet {
  position: absolute;
  width: 10px;
  height: 20px;
  background-image:url('/mg/cannon_ball.png');
  background-size: contain; /* Ensure the image fits within the element */
  background-repeat: no-repeat;
 
  
}

.spaceship {
  position: absolute;
  bottom: 30px;
  width: 100px; /* Adjusted size */
  height: 100px; /* Adjusted size */
  transform: translateX(-50%);

}

.spaceship img, .normal-alien img, .strong-alien img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.game-over {
  font-size: 2rem;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.special-entity {
  position: absolute;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}

.special-entity img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.reloading {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: red;
  font-size: 1.2rem;
}
