/*body {*/
/*    margin: 0;*/
/*    font-family: Arial, sans-serif;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    background-color: #282c34;*/
/*    color: white;*/
/*}*/

/*.App {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    justify-content: center;*/
/*}*/

.info-panel {
    width: 360px;
    margin-right: 20px;
    padding: 20px;
    background-color: #233241;;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
    color: #ecf0f1;
}

.info-panel li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #ecf0f1;
    background-color: #34495e;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s ease, background-color 0.2s ease; /* 리스트 항목에 트랜지션 효과 추가 */
}

.info-panel li:hover {
    background-color: #1abc9c; /* 리스트 항목에 마우스를 올렸을 때 배경색 변경 */
    transform: translateX(5px); /* 마우스 오버 시 살짝 오른쪽으로 이동 */
}

h1, h2 {
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    margin-bottom: 10px;
}

.game-container {
    display: flex;
    justify-content: space-between; /* 좌우로 공간을 분배 */
    align-items: flex-start;
    width: 92.5%;
    height: auto;
}

.game-map {
    width: 1000px; /* 맵 크기 */
    height: 920px; /* 맵 크기 */
    position: relative;
    background-image: url('./images/Grass_Background.jpg'); /* 배경 이미지 설정 */
    background-size: cover; /* 배경 이미지 크기를 맵 크기에 맞춤 */
    background-position: center; /* 배경 이미지가 중앙에 위치하도록 설정 */
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
}

.snake-head {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px;
    position: absolute;
    transform-origin: center;
}

.snake-segment {
    width: 20px;
    height: 20px;
    position: absolute;
}

.food {
    width: 40px;
    height: 40px;
    position: absolute;
    background-size: cover;
    background-position: center;
}

.food.apple {
    background-image: url('./images/apple.gif');
}

.food.golden_apple {
    background-image: url('./images/golden_apple.png');
}

.player-item-enter {
    opacity: 0;
    transform: translateY(-20px);
}
.player-item-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}
.player-item-exit {
    opacity: 1;
    transform: translateY(0);
}
.player-item-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 500ms, transform 500ms;
}

.player-list {
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.player-list h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #f1c40f;
}

.player-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.player-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2c3e50;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

.player-list li.alive {
    color: #2ecc71;
    border-left: 5px solid #27ae60;
}

.player-list li.dead {
    color: #e74c3c;
    border-left: 5px solid #c0392b;
}

.player-list li:hover {
    transform: scale(1.05);
}

.player-info {
    display: flex;
    align-items: center;
}

.color-mark {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid;
    margin-right: 10px;
}

.player-score {
    font-size: 1.2em;
    color: #f39c12;
}

.countdown-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.countdown-timer {
    font-size: 80px;
    font-weight: bold;
    color: #f1c40f; /* 노란색 글씨 */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* 그림자 효과 */
}

.join-room-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.join-room-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #2c3e50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-room-button:hover {
    background-color: #34495e;
}

.waiting-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.waiting-text {
    font-size: 50px;
    font-weight: bold;
    color: #f1c40f;
}
